* {
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #1f1f1f;
}


/* ----- TYPOGRAPHY ----- */
@font-face {
  font-family: "MyFont";
  src: url("../resources/movie-quotes/bloody-scary-font/BloodyScaryRegular-K7q8y.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
header#header > div#header-text > h1#title-text {
    font-size: 3.5em;
    font-family: "MyFont";
    line-height: 1;
    color: darkgoldenrod;
}
header#header > div#header-text > p#subtitle-text {
    text-indent: 15px;
    font-style: italic;
    font-size: 1.5em;
    font-family: "MyFont";
    line-height: 1;
}

h3.scene-title {
    margin: 15px 0px 20px 0px;
    font-size: 1.4em;
}
div.scene-text-div > p.dialogue {
    margin: 10px 0px;
    font-size: 1.15em;
}

p.dialogue > span.character-text {
    font-weight: 600; /* change this later */
}
p.dialogue > span.stage-directions {
    color: rgb(154, 154, 154);
    font-style: italic;
}
p.dialogue > span.double-quote {
    font-style: italic;
}

/* character colors */
p.dialogue > span.peter {
    /* color: rgb(139, 0, 0); */
    color: rgb(184,28,34);
}
p.dialogue > span.dana {
    /* color: rgb(153,20,20); */
    color: rgb(92,0,25);
}
p.dialogue > span.mayor {
    /* color: rgb(120,0,20); */
    color: rgb(210,60,90);
}
p.dialogue > span.ray {
    /* color: rgb(102,0,0); */
    color: rgb(244, 30, 30); /* ehhh */
}
p.dialogue > span.egon {
    /* color: rgb(160,30,45); */
    color: rgb(230,40,120);
}
p.dialogue > span.winston {
    /* color: rgb(128,16,32); */
    color: rgb(128,0,32);
}


/* ----- IMAGING ----- */
img#ghostbusters-logo {
    height: 100px;
}


/* ----- FORMATTING ----- */
body {
    margin: 40px 10px 10px 10px;
    padding: 2px 2px 2px 25px;
}

header#header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 15px;
    margin: 5px 5px 40px 0px;
    padding-bottom: 5px;
}
header#header > div#header-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
header#header > div#header-text > h1#title-text {
    margin: 0;
}
header#header > div#header-text > p#subtitle-text {
    margin: 0px;
}

main#main-content {
    margin: 5px 35px 50px 0px;
}
main#main-content > article#all-scenes-article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 25px;
}