:root {
  --black: #1f1f1f;
  --white: #f7f7f7;
}
* {
  box-sizing: border-box;
  margin: 0px auto;
}


/* ----- TYPOGRAPHY ----- */
html{
  font-size: 16pt;
  color: var(--black);
}

span.bold {
    font-weight: bold;
}
span.italic {
    font-style: italic;
}

h1#header-title {
    text-transform: capitalize;
}
header > div {
    margin-top: .7rem;
}
header ul#header-list {
    padding: 0;
}

li.block {
    display: block;
}
li.ingredient-category {
    margin-top: .5rem;
}

p.instruction-title {
    margin-top: .5rem;
}




/* ----- IMAGING ----- */
img.sample-img {
    width: 24%;
}

/* ----- FORMATTING & Visuals ----- */
body {
    margin: 0px 0px 10px 0px;
    padding: 40px 20px;
    background-color: var(--white);
}

header#header {
    margin-bottom: 30px;
}

section {
    margin-bottom: 30px;
}